APP_ENV=development

export NBN_STATIC_IP=180.150.43.236
export HEARTBEAT_PRIMARY=https://uptime.betterstack.com/api/v1/heartbeat/6G7igh5hSYPSucNUDLV6mZYi
export HEARTBEAT_LTE=https://uptime.betterstack.com/api/v1/heartbeat/6G7igh5hSYPSucNUDLV6mZYi/fail
export MONITOR_INTERVAL=30
export API_IP=0.0.0.0
export API_PORT=8087